body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#f39c12, #8e44ad, #082ad4);
    text-align:center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #222;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 1em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url('https://source.unsplash.com/1600x900/?technology,code') no-repeat center center/cover;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero .highlight {
    color: #9d2f2fde;
}
.hero.about{
    color: #f39c12;
}
.hero .btn {
    background: #f39c12;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}


section {
    padding: 50px;
    color:aqua
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #f39c12;
    flex-wrap: wrap;
}

.project {
    background: white;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    border-radius: 5px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form input, #contact-form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form button {
    background: #f39c12;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

footer {
    background: #222;
    color: white;
    padding: 10px;
    margin-top: 20px;
}